set editing-mode vi
set show-mode-in-prompt on
set vi-ins-mode-string +
set vi-cmd-mode-string :

$if mode=vi
set keymap vi-command
# these are for vi-command mode
Control-l: clear-screen
Control-a: beginning-of-line
Control-e: end-of-line
Control-b: backward-word
Control-f: forward-word

set keymap vi-insert
# these are for vi-insert mode
Control-l: clear-screen 
Control-a: beginning-of-line
Control-e: end-of-line
Control-b: backward-word
Control-f: forward-word

$endif
